%script{:src => "https://kit.fontawesome.com/7912526426.js", :crossorigin => "anonymous"}
%link{:rel => "preconnect", :href => "https://fonts.gstatic.com"}
%link{:href => "https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap", :rel => "stylesheet"}
%script{:crossorigin => "anonymous", :integrity => "sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=", :src => "https://code.jquery.com/jquery-3.5.1.min.js"}
%script{:crossorigin => "anonymous", :integrity => "sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=", :src => "https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"}
    
/= javascript_include_tag "application"

= render partial: '/navbar/header', :locals => {:page_name => "Avaliando Produto"}

= form_with url: {action: "create"} do |f|
    = f.radio_button :rate_value, 1, :id => "rate_value_1", :class => "rate_values"
    = f.radio_button :rate_value, 2, :id => "rate_value_2", :class => "rate_values"  
    = f.radio_button :rate_value, 3, :id => "rate_value_3", :class => "rate_values"
    = f.radio_button :rate_value, 4, :id => "rate_value_4", :class => "rate_values"
    = f.radio_button :rate_value, 5, :id => "rate_value_5", :class => "rate_values"

    .container.overflow-auto.pt-5.mt-3
        .container.box-rating.col-lg-8.justify-content-center.border.border-secondary.rating{"data-vote" => "0"}     
            
            .row.align-items-start.justify-content-center.score            
                %span.score-rating.js-score 0
                %span /
                %span.total 5             
            .row.align-items-center.justify-content-center.mt-1
                .star.hidden
                    %span.full{"data-value" => "0"}
                    %span.half{"data-value" => "0"}
                    %span.selected
                .star
                    %span.full{"data-value" => "1"}
                    %span.half{"data-value" => "1"}
                    %span.selected
                .star
                    %span.full{"data-value" => "2"}
                    %span.half{"data-value" => "2"}
                    %span.selected
                .star
                    %span.full{"data-value" => "3"}
                    %span.half{"data-value" => "3"}
                    %span.selected
                .star
                    %span.full{"data-value" => "4"}
                    %span.half{"data-value" => "4"}
                    %span.selected
                .star
                    %span.full{"data-value" => "5"}
                    %span.half{"data-value" => "5"}
                    %span.selected         
            .row.align-items-end.justify-content-center.no-gutters.mt-3.align-items-center          
                .col-1
                .col-10
                    %textarea{:name => "commentary", :cols => "100", :rows => "5", :class =>"form-control rounded-0" }
                .col-1
            .row.align-items-end.justify-content-center.no-gutters.mt-3
                .col.col-btn
                    %button.btn-rating.btn.btn-outline-secondary.w-100.p-2{:type => "submit", :id=>"submit-rating-btn"} Avaliar
                
                    
        = render partial: '/product/footer'
:javascript
    

    var starClicked = false;

    $(function() {

    $('.star').click(function() {

    $(this).children('.selected').addClass('is-animated');
    $(this).children('.selected').addClass('pulse');

    var target = this;

    setTimeout(function() {
    $(target).children('.selected').removeClass('is-animated');
    $(target).children('.selected').removeClass('pulse');
    }, 1000);

    starClicked = true;
    })

    $('.half').click(function() {
    if (starClicked == true) {
    setHalfStarState(this)
    }
    $(this).closest('.rating').find('.js-score').text($(this).data('value'));

    $(this).closest('.rating').data('vote', $(this).data('value'));
    document.getElementById('rate_value_'+$(this).data('value')).checked = true;
    calculateAverage()
    console.log(parseInt($(this).data('value')));

    })

    $('.full').click(function() {
    if (starClicked == true) {
    setFullStarState(this)
    }
    $(this).closest('.rating').find('.js-score').text($(this).data('value'));

    $(this).find('js-average').text(parseInt($(this).data('value')));

    $(this).closest('.rating').data('vote', $(this).data('value'));
    calculateAverage()

    console.log(parseInt($(this).data('value')));
    })

    $('.half').hover(function() {
    if (starClicked == false) {
    setHalfStarState(this)
    }

    })

    $('.full').hover(function() {
    if (starClicked == false) {
    setFullStarState(this)
    }
    })

    })

    function updateStarState(target) {
    $(target).parent().prevAll().addClass('animate');
    $(target).parent().prevAll().children().addClass('star-colour');

    $(target).parent().nextAll().removeClass('animate');
    $(target).parent().nextAll().children().removeClass('star-colour');
    }

    function setHalfStarState(target) {
    $(target).addClass('star-colour');
    $(target).siblings('.full').removeClass('star-colour');
    updateStarState(target)
    }

    function setFullStarState(target) {
    $(target).addClass('star-colour');
    $(target).parent().addClass('animate');
    $(target).siblings('.half').addClass('star-colour');

    updateStarState(target)
    }

    function calculateAverage() {
    var average = 0

    $('.rating').each(function() {
    average += $(this).data('vote')
    })

    $('.js-average').text((average/ $('.rating').length).toFixed(1))
    }
