= form_for @product, url: {action: "create"}, html: {multipart: true, :class => 'form-product'}, multipart: true do |f|
  %label{:for => "Nome do Produto", class: 'label-product'} Nome do Produto
  = f.text_field :name, id: "Nome do Produto", class: 'form-group'
  %label{:for => "Preço", class: 'mt-4 label-product'} Preço
  %span{class: "currency-container"}
    R$
    = f.number_field :price, id: "Preço",value: number_to_currency(f.object.price.to_f, delimiter: ',', unit: 'R$ '), min: 0.5, max: 10000, step: 0.01, class: 'form-group currency-input'
  %label{:for => "categories", class: 'mt-4 label-product'} Categorias
  .row.justify-content-around
    - if @categories.length > 0
      - @categories.each do |category|
        = check_box("product", "categories", {:multiple => true, class: 'category-tag'}, category.id, nil)
        %label{:for => "product_categories_#{category.id}"}>
          = category.name
    - else
      %p{class: 'mt-3 no-category-warning'}
        Não há categorias cadastradas! :( Contate um administrador para entender o problema

  %label{:for => "Descrição", class: 'mt-4 label-product'} Envie uma foto do produto!
  = f.file_field :photo, id: "Foto"

  %label{:for => "Descrição", class: 'mt-4 label-product'} Descrição
  = f.text_area :description, id: "Descrição", size: "60x10", class: 'form-group pl-2 pr-2 pt-1 textarea-product', resize: 'none'
  = f.submit("Adicionar Produto", class:'btn btn-comidinhas', id:"Adicionar")