= form_for @product, url: {action: "create"}, html: {multipart: true} do |f|
  %label{:for => "Nome do Produto"}> Nome do Produto
  = f.text_field :name, id: "Nome do Produto", class: 'form-group'
  %label{:for => "Preço", class: 'mt-4'}> Preço
  %span{class: "currency-container"}
    R$
    = f.number_field :price, id: "Preço",value: number_to_currency(f.object.price.to_f, delimiter: ',', unit: 'R$ '), min: 0.5, max: 10000, step: 0.01, class: 'form-group currency-input'
  %label{:for => "categories", class: 'mt-4'}> Categorias
  .row.justify-content-around
    - if @categories.length > 0
      - @categories.each do |category|
        = check_box("product", "categories", {:multiple => true, class: 'category-tag'}, category.id, nil)
        %label{:for => "product_categories_#{category.id}"}>
          = category.name
    - else
      %p Não há categorias cadastradas! :( Contate um administrador para entender o problema

  %label{:for => "Descrição", class: 'mt-4'}> Descrição
  = f.text_area :description, id: "Descrição", size: "60x10", class: 'form-group', resize: 'none'
  = f.submit("Adicionar Produto", class:'btn btn-comidinhas', id:"Adicionar")