%script{:src => "https://kit.fontawesome.com/7912526426.js", :crossorigin => "anonymous"}
%link{:rel => "preconnect", :href => "https://fonts.gstatic.com"}
%link{:href => "https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap", :rel => "stylesheet"}

= render partial: '/navbar/header', :locals => {:page_name => @product.name}

.container.overflow-auto.pt-5.mt-3
  .row.row-prod-img.flex-nowrap.row-flex
    .col.d-flex.flex-column-reverse.col-prod-img
      %img.img-prod.mx-auto{:src => url_for(@product.photo)}
      .d-flex.flex-row.box-price.col-3.justify-content-center.align-self-end.mr-3
        .row.justify-content-center.p-2
          %b R$ #{@product.price}

  - if logged_in? and current_user == @product.user
    .row.mt-5
      .product-desc.justify-content-left
        %b Opções do Vendedor
        .row.justify-content-around.my-3
          .col-6.text-center
            =button_to  "EDITAR", edit_product_path(@product), {:id => "Editar", :class=> "btn btn-info", :type => "button", :method => :get}
            -# %a{:class => ''}
            -#   EDITAR
          .col-6.text-center
            =link_to 'REMOVER', @product, {:class => 'btn btn-danger', method: :delete}

  .row.flex-nowrap.row-flex.mt-4    
    .product-desc.d-flex.justify-content-left
      %b Descrição
  .row.flex-nowrap.row-flex.mt-1 
    .product-desc.justify-content-left.ml-2       
      %lead #{@product.description}
  .row

  .row.flex-nowrap.row-flex.mt-5
    .product-desc.d-flex.justify-content-left
      %b Avaliações 
  .container.mt-2  
    .d-flex.justify-content-center
      .container.box-rating.col-lg-8.justify-content-center.border.border-secondary
        .row.align-items-start.justify-content-center
          %h2.mt-2 3
        .row.align-items-center.justify-content-center.mt-1
          %span.fa.fa-heart.checked.fa-lg.p-1
          %span.fa.fa-heart.checked.fa-lg.p-1
          %span.fa.fa-heart.checked.fa-lg.p-1
          %span.fa.fa-heart.fa-lg.p-1
          %span.fa.fa-heart.fa-lg.p-1
        .row.align-items-end.justify-content-center.no-gutters.mt-3
          .col.col-btn
            =button_to  "Avaliar", new_product_rating_path(product_id:@product.id), {:id => "Avaliar", :class=> "button btn-rating btn btn-outline-secondary w-100 p-2", :type => "button", :method => :get}
          .col.col-btn
            =button_to  "Avaliações", product_ratings_path(product_id:@product.id), {:id => "Avaliações", :class=> "button btn-rating btn btn-outline-secondary w-100 p-2", :type => "button", :method => :get}
          
  .row.flex-nowrap.row-flex.mt-5
    .product-desc.d-flex.justify-content-left
      %b Categorias
  .container.overflow-auto    
    .row.flex-nowrap.row-flex.align-items-center    
      - @categories.each do |category|
        =link_to category.name, home_category_path(id:category.id),{:class=> "category-desc align-items-center col-lg-1 col-md-2 col-sm-2 col-3"}           


  .row.flex-nowrap.row-flex.mt-5  
    .product-desc.d-flex.justify-content-left
      %b Fale com o vendedor!  
  .row.align-items-end.justify-content-center.mt-3
    .col-2
    .col.col-btn
    - if @product.user.phone != ''
      %button.btn.btn-secondary.btn-call.w-100.p-2{:type => "button", :onclick => "location.href='https://api.whatsapp.com/send?phone=#{@product.user.phone}&text=Gostaria%20de%20comprar%20seu%20produto';"} 
        %i.fa.fa-whatsapp
        Enviar Mensagem
    .col-2
  - if @product.user.present?
    = render partial: 'footer'
