.container
  - if @product.errors.any?
    
    %h2
      = @product.errors.count
      erro(s) impedem que o produto seja salvo:
    %ul
      - @product.errors.each do |attribute, error|
        %li= error

  = form_for @product, url: {action: "create"}, html: {multipart: true} do |f|
    %label{:for => "Nome do Produto"}> Nome do Produto
    = f.text_field :name, id: "Nome do Produto", class: 'form-group'
    %label{:for => "Preço"}> Preço
    = f.number_field :price, id: "Preço",value: number_to_currency(f.object.price.to_f, delimiter: ',', unit: 'R$ '), min: 0.5, max: 10000, step: 0.01, class: 'form-group'
    %label{:for => "Descrição"}> Descrição
    = f.text_area :description, id: "Descrição", size: "60x12", class: 'form-group'
    = f.submit("Adicionar Produto", class:'btn btn-primary', id:"Adicionar")
