= form_for @product, url: {action: "create"}, html: {multipart: true} do |f|
  %label{:for => "Nome do Produto"}> Nome do Produto
  = f.text_field :name, id: "Nome do Produto"
  %label{:for => "product_price"}> Preço
  = f.text_field :price, id: "Preço"
  %label{:for => "product_description"}> Descrição
  = f.text_area :description, id: "Descrição", size: "60x12"
  = f.submit("Create", class:'btn', value: 'Adicionar Produto', id:"Adicionar")