%script{:src => "https://kit.fontawesome.com/7912526426.js", :crossorigin => "anonymous"}
%link{:rel => "preconnect", :href => "https://fonts.gstatic.com"}
%link{:href => "https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap", :rel => "stylesheet"}

.container
    %div.row
        %div.col-sm
            %h1.title Cadastre-se!
            %h3.subtitle Crie uma conta para continuar
    - if @user.errors.any?
        %p.text-warning
            = @user.errors.count
                erro(s) impedem que a conta seja criada:
        %p
            - @user.errors.each do |attribute, error|
            %li.text-warning= error
    %div.row
        = form_for @user, url: {action: "create"}, html: { class: "col-sm"} do |f|
            %div.form-group
                %div.form-row
                    %label{:class => "label-cadastro"} Foto
                %div.form-row
                    = f.file_field :avatar, id: "avatar", class: 'hidden_input_file', accept:'image/*'
                    %label{:for => "avatar", class: "m-auto btn btn-comidinhas", id: "label_input_file"} Adicione uma foto
            %div.form-group
                %div.form-row
                    %label{:for => "email", :class => "label-cadastro"} Email
                %div.input-icon
                    %i.fas.fa-envelope
                    = f.text_field :email, id: "email", placeholder: "comidinhas@usp.br", class: 'form-control'
                    %i.fas.fa-check
            %div.form-group
                %div.form-row
                    %label{:for => "username", :class => "label-cadastro"} Login
                %div.input-icon
                    %i.fas.fa-user
                    = f.text_field :username, id: "username", placeholder: "comidinhaseach", class: 'form-control'
                    %i.fas.fa-check
            %div.form-group
                %div.form-row
                    %label{:for => "phone", :class => "label-cadastro"} Celular (Opcional)
                %div.input-icon
                    %i.fa.fa-whatsapp
                    = f.text_field :phone, id: "phone", placeholder: "(11) 94002-8922", class: 'form-control'
                    %i.fas.fa-check        
            %div.form-group
                %div.form-row
                    %label{:for => "password", :class => "label-cadastro"} Senha
                %div.input-icon
                    %i.fas.fa-lock
                    = f.text_field :password, type: "password", id: "password", placeholder: "Senha", class: 'form-control'
                    %i.far.fa-eye
            %div.form-group
                %div.form-row
                    %label{:for => "password_confirmation", :class => "label-cadastro"} Confirme a senha
                %div.input-icon
                    %i.fas.fa-lock
                    = f.text_field :password_confirmation, type: "password", id: "password_confirmation", placeholder: "Senha", class: 'form-control'
                    %i.fas.fa-check
            %div.form-group.row.form-check
                %input.form-input-check{:type => "checkbox", :id => "termos"}
                %label{:for => "Termos"} Concordo com todos os <b>Termos e Condições</b>
            = f.submit("Cadastrar", id: "create", class: "btn btn-primary")
    %div.row
        .col-sm
            %br
            %p
                Já tem uma conta? &nbsp;
                %a{class: "login-link", href: "../login/index"}>Login
