%script{:src => "https://kit.fontawesome.com/7912526426.js", :crossorigin => "anonymous"}
%link{:rel => "preconnect", :href => "https://fonts.gstatic.com"}
%link{:href => "https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap", :rel => "stylesheet"}

%div.container.pb-5
    %div.laranja
    %div.voltar-tela_vendedor
        %a{:href=>"javascript:history.back()", id: "voltar",  :class => "voltar-tela_vendedor"}
            %h3.fas.fa-long-arrow-alt-left
    %div.img-user-center
        - if @user.avatar.attached?
            %img{:src =>url_for(@user.avatar), :class => "img-user"}
    %div.card{:id => "first-card"}
        %div.card-body
            %h3.card-title.text-center 
                = @user.username
            %p.card-text.text-center Está na biblioteca
            %br
            %div.row.text-center.font-weight-bold
                %div.col 
                    = @products.count
                %div.col{id: 'avg'}
                    - if @products.count == 0 or @ratings == 0
                        %p -
                    - else
                        = @ratings
            %div.row.text-center
                %div.col Produtos 
                %div.col Estrelas
    %h5.mb-4 Celular
    .row.mx-2.justify-content-center
        - if @user.phone != ''
            .col-3.text-center                
                %p=@user.phone
    %h5.mb-4 Métodos de Pagamento
    .row.mx-2.justify-content-center
        - if @user.card
            .col-3.text-center
                %i.fas.fa-credit-card
                %p Cartão
        - if @user.pix
            .col-3.text-center
                %i.fas.fa-qrcode
                %p Pix
        - if @user.money
            .col-3.text-center
                %i.fas.fa-money-bill-alt
                %p Dinheiro
        - if @user.vr
            .col-3.text-center
                %i.fas.fa-utensils
                %p VR
    %h5.mt-4 Produtos 
    = render partial: 'product-card'
    
%br
%br

= render partial: 'navbar/navbar' 
