.wrapper
  - if @suggestion.errors.count > 0
    %ul.alert.alert-danger.p-4
      %b Não foi possível adicionar uma sugestão:
      - @suggestion.errors.each do |attribute, error|
        %li= error
  = form_for @suggestion, url: {action: "create"} do |f|
    .suggestions-input-container
      =f.text_field :name, id: "suggestion", placeholder: "Brigadeiro", class: 'suggestion-input'
      %button.suggestion-button{type:"submit", id:"add_suggestion"}
        .i.far.fa-plus-square{style: 'font-size: 25px'}

  .new-suggestions
    -@suggestions.each do |suggestion|
      .suggestion-card
        %span
          =suggestion.name
        - if current_user.suggestion_votes.exists?({suggestion_id: suggestion.id})
          = link_to suggestions_vote_create_path(:suggestion_id => suggestion.id), method: :post do
            .i.fas.fa-heart.coracao.coracao-ativo
        - else
          = link_to suggestions_vote_create_path(:suggestion_id => suggestion.id), method: :post do
            .i.fas.fa-heart.coracao

= render partial: 'navbar/navbar'
